* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 70.5%;
}
body {
    background-image: url("../src/fundo.png");
    font: bold 2rem 'Open Sans', sans-serif;
    
    background-color: #006a9b; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-size: cover; /* Redimencionando pra cobrir todo container */
    background-attachment: fixed; /* Fixando a imagem (pra não mover com o scroll */
}

.task {
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    
}

.task_title {
    display: flex;
    background-color: rgb(4, 14, 12);
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    box-shadow: 1px 1px 5px #0F0F0B;
    font-size: 3rem;
    color: greenyellow;
    border-radius: 5px 22px 5px 5px;

}

.task_list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;

}

.task_item{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px #0F0F0B;
    background-color: rgba(0, 255, 170, 0.13)
}
.task_item > div {
    width: 80%;
}
.task_item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: rgba(165, 255, 47, 0.425);
    color: var(--primary-color);

}
.task_item > input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;

}
.task_item > input[type='button'],
.task_item > input[type='checkbox'] {
    width: 30px;
    height: 30px;
    font: inherit;

}
.task_item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;

}

.new_item{
    display: flex;
    background-color: rgb(4, 14, 12);
    width: 100%;
    height: 70px;
    justify-content: space-evenly;
    padding: 15px 0;
    box-shadow: 1px 1px 5px #0F0F0B;
    margin: 10px;
    font: inherit;
    color: greenyellow;
    border-radius: 5px 5px 5px 22px;

}
.new_item > input{
    background-color: #1a3133;
    border: none;
    width: 65%;
    outline: none;
    font: inherit;
    color: greenyellow;
    padding: 20px;
    border-radius: 3px 3px 3px 13px;

}
.new_item > input::placeholder {
    font-size: 18px;
    font-weight: normal;
    color: rgba(171, 255, 45, 0.26);

}